html{
	margin: auto;
	text-align: center;
	background-color: darkgreen;
}


h1{
	font-size: 80px;
	font-weight: bolder;
	color: darkgoldenrod;
}

p{
	color: whitesmoke;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 40px;
}

button{
	width: 200px;
	background-color: darkgoldenrod;
	padding: 10px 10px;
	margin-bottom: 5px;
	border-style: none;
	border-radius: 5px 5px;

}

button:hover{
	background-color: darkgoldenrod;
	color: whitesmoke;
}
button:active{
	color: black;
}